h2 {
  text-align: center;
  margin-top: 500px;
  font-size: 100px;
  color: gold;
  font-style: italic;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  opacity: 0;
}

body {
  background-color: black;
}

a {
  visibility: hidden;
}

.show-btn {
  color: gold;
  background-color: black;
  width: 100px;
  height: 40px;
  font-size: 20px;
}

.box {
  flex: content;
  text-align: center;
  border: 20px;
  border-color: gold;
}
