* {
  margin: 1px;
  padding: 1px;
}

body {
  color: #444444;
  font-family: sans-serif;
  border-top: 20px solid;
  position: relative;
}

.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

header.main-header {
  background-color: #444444;
  padding: 20px 10px;

  /* height: 100px; */
}

aside {
  background-color: #f7f7f7;
  border-top: 2px solid #444444;
  border-bottom: 2px solid #444444;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  width: 500px;
}

.post-img {
  width: 50%;
  height: auto;
}

button {
  font-size: 22px;
  padding: 10px;
  cursor: pointer;
  border-radius: 20%;
  position: absolute;
  top: 30px;
  left: 0;
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444444;
}

h1,
h2,
h3 {
  color: chocolate;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;

  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
}

li {
  font-size: 18px;
  margin-bottom: 5px;
}

li:last-child {
  margin-bottom: 0;
}

/* Select all child p's which parent is footer element */
footer p {
  font-size: 16px;
}

p#author {
  color: purple;
}

/* article header p {
  font-style: italic;
  color: rgb(255, 0, 0);
} */

#copyright {
  font-size: 18px;
}

.related-1 {
  font-size: 30px;
}

/* This is pseudo class */
li:first-child {
  font-weight: bold;
}

li:nth-child(2) {
  font-style: italic;
}

/* Style hyperlinks */

a:link {
  color: salmon;
  text-decoration: none;
}

a:visited {
  color: salmon;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline dashed;
}

a:active {
  background-color: black;
  font-style: italic;
}

nav a:link {
  background-color: orangered;
  margin: 30px;
  padding: 10px;
  display: inline-block;
}
